html {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

body {
	right: 0;
	left: 0; 
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}

.topbar {
	border-radius: 10px;
	display: flex; 
	width: 100%;
	background-color: aqua;
	height: auto;
	vertical-align: middle;
}

.topblock {
	align-content: center;
	vertical-align: middle;
	flex-flow: row;
	flex: 1;
}

#page {
	margin-top: 2%;
/*	display: flex;*/
	overflow: hidden; 
}

.column {
    height: auto;
    float: left; 
}

#forecast {
	float: left; 
	background-color: grey;
}

#map {
    float: left; 
	margin-top: 17.5%; 
	width: 100%;
	height: 80%; 
}

#updownbuttons {
	float: left; 
	width: 50%;
	/*	flex: 1; */
	align-content: center;
	text-align: center;
	background-color: grey; 
}

.centbut {
	right: 0; 
	left: 0; 
	margin-right: auto; 
	margin-left: auto; 
}

.timeinput table {
	margin-top: 15%;
	left: 0;
	right: 0; 
	margin-left: auto;
	margin-right: auto;
} 

.buttons {
	right: 0; 
	left: 0; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 10%;
}

#tempgauges {
	width: 50%;
	float: left; 
	background-color: bisque;
	overflow: hidden; 
}

.centre {
    vertical-align: middle;
	right: 0; 
	left: 0; 
	margin-left: auto; 
	margin-right: auto; 
}

.gauge {
    margin-top: 25%;
    left: 0; 
    right: 0; 
    margin-left: 2%;
    margin-right: 2%;
	margin-top: 5%;
    width: 45%;
    height: 45%;
    display: inline-block;
 }


#clockwrap {
    
}

#clock {
	font-size: 20px;
	float: right;
}


@media  screen 
  and (min-device-width: 375px) 
  and (max-device-width: 1080px)  { 
	  #page {
		  width: 100%;
		  font-size: 300px; 
	  }
	  #updownbuttons {
		  height: 50%;
		  float: none; 
		  margin-right: 0; 
		  width: 100%; 
		  margin-top: 0;
	  }
	  
	  #tempgauges {
		  float: left;
		  width: 100%;
		  height: 30%;
	  }
	  
	  .gauge {
		  width: 40%;
		  height: 60%; 
		  margin-top: 5%; 
	  }
	  
	  #clickup {
		  content: url("/Up%20Arrow%20Big.png");
	  }
	  
	  #clickdown {
		  content: url("Down%20Arrow%20Big.png"); 
	  }
	  
	  table.temptable td{
		  font-size: 50px; 
	  }
	  
	  .timeinput table {
		  margin-top: 0; 
	  }
	  
}
